.table {
  width: 100vw;
}
.button-container {
  margin-left: 8%;
}

.table-font {
  text-align: center;
}

::ng-deep {
  .mat-mdc-table thead {
    background-color: #DABEA7 !important;
  }
}

th {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

td {
  font-size: 14px;
  text-align: center;
}

.survey-content{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  // border: 2px #9A6852 double;

}


.survey-content tr:hover {
  background-color: rgba(224, 200, 171, 0.4) !important; // 滑鼠懸移時背景顏色
}

  // 更改表單偶數行顏色
  .survey-content table tr:nth-child(even) {
    background-color: rgba(214, 209, 203, 0.555);
  }

.button {
  margin-top: 10px;
  margin-left: 30px;
}


mat-paginator{
  border: 2px #9A6852 double;
  border-radius: 10px;
}

