<mat-tab-group [(selectedIndex)]="selectedIndex" mat-stretch-tabs="false" mat-align-tabs="center">

  <!-- 問卷起始 -->
  <mat-tab disabled label="問卷">
    <div class="tab-container">
      <div class="content">
        <!-- 問卷名稱 -->
        <span>問卷名稱：</span>
        <input [(ngModel)]="surveyName" type="text">

        <!-- 問卷說明 -->
        <span>問卷說明：</span>
        <textarea [(ngModel)]="surveyDescription"></textarea>

        <!-- 問卷起始時間 -->
        <span>開始時間：</span>
        <mat-form-field class="time-field">
          <mat-label>選擇起始時間</mat-label>
          <input readonly matInput [matDatepicker]="startDate" [min]="today" (dateChange)="startDate_change($event)" />
          <mat-hint>年/月/日</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>取消</button>
              <button mat-raised-button matDatepickerApply>選擇</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <!-- 問卷結束時間 -->
        <span>結束時間：</span>
        <mat-form-field class="time-field">
          <mat-label>選擇結束時間</mat-label>
          <input readonly matInput [matDatepicker]="endDate" [min]="endDateMin" (dateChange)="endDate_change($event)" />
          <mat-hint>年/月/日</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>取消</button>
              <button mat-raised-button matDatepickerApply>選擇</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
        <div class="error">
          @if(endDateError){
          結束時間不得小於開始時間
          }
        </div>
      </div>
      <div class="btn">
        <button mat-button (click)="backtohomepage()">取消</button>
        <button mat-raised-button [disabled]="endDateError" (click)="nextStep()">下一步</button>
      </div>
    </div>
  </mat-tab>

  <!-- 題目 -->
  <mat-tab disabled label="題目">
    <div class="tab-container">
      <div class="content">

        <!-- 新增問卷問題 -->
        <button class="option-btn" mat-stroked-button (click)="showQuizDialog('single')">新增問題及選項</button>
      </div>

      <button matTooltip="刪除問題" mat-icon-button class="button">
        <mat-icon>delete</mat-icon>
      </button>

      <!-- 問卷題目列表 -->
      <div class="ques-content">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let quiz">
              <input type="checkbox" [(ngModel)]="quiz.checkBox">
            </td>
          </ng-container>


          <!-- QuizId Column -->
          <ng-container matColumnDef="quizId">
            <th mat-header-cell *matHeaderCellDef> 編號 </th>
            <td mat-cell *matCellDef="let quiz"> {{quiz.quizId}} </td>
          </ng-container>

          <!-- quizName Column -->
          <ng-container matColumnDef="quizName">
            <th mat-header-cell *matHeaderCellDef> 問題名稱 </th>
            <td mat-cell *matCellDef="let quiz"> {{quiz.quizName}} </td>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> 類型 </th>
            <td mat-cell *matCellDef="let quiz"> {{quiz.type}} </td>
          </ng-container>

          <!-- quizMust Column -->
          <ng-container matColumnDef="quizMust">
            <th mat-header-cell *matHeaderCellDef> 必填 </th>
            <td mat-cell *matCellDef="let quiz"> {{quiz.quizMust ? '是' : '否'}} </td>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> 編輯 </th>
            <td mat-cell *matCellDef="let quiz">
              <button (click)="edit(quiz)" matTooltip="編輯" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </div>

      <div class="btn">
        <button mat-button (click)="backStep()">返回</button>
        <button mat-raised-button (click)="nextStep()">下一步</button>
      </div>
    </div>
  </mat-tab>

  <!-- 預覽頁面 -->
  <mat-tab label="預覽頁" disabled>

    <div class="survey-container">
      <h6 class="survey-time">問卷時間：{{inputStartDate}} - {{ inputEndDate }}</h6>
      <h2 class="survey-title">{{ surveyName }}</h2>
      <div class="survey-description">
        <h5>問卷說明：</h5>
        <span>{{ surveyDescription }}</span>
      </div>
    </div>

    <div class="tab-container">
      <div class="content">
        <div class="input-group">
          <label for="name">名字：</label>
          <input disabled="" id="name" type="text" placeholder="請輸入姓名">
        </div>

        <div class="input-group">
          <label for="phone">手機：</label>
          <input disabled="" id="phone" type="text" placeholder="請輸入手機">
        </div>

        <div class="input-group">
          <label for="email">信箱：</label>
          <input disabled="" id="email" type="text" placeholder="請輸入信箱">
        </div>

        <div class="input-group">
          <label for="age">年紀：</label>
          <input disabled="" id="age" type="text" placeholder="請輸入年紀">
        </div>


        <!-- 問卷題目列表 -->
        <div class="quiz-table-container">
          <table mat-table [dataSource]="dataSource" class="quiz-table">

            <!-- quizName Column -->
            <ng-container matColumnDef="quizName">
              <th mat-header-cell *matHeaderCellDef class="header-cell"> 問題名稱 </th>
              <td mat-cell *matCellDef="let element" class="data-cell">
                {{element.quizName}}
              </td>
            </ng-container>

            <!-- Options Column -->
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef class="header-cell"> 選項 </th>
              <td mat-cell *matCellDef="let element" class="data-cell">
                <div class="options-list">
                  @for (option of element.options; track $index) {
                  <span>{{ $index + 1 }}. {{ option }}</span>
                  }
                </div>
              </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef class="header-cell"> 類型 </th>
              <td mat-cell *matCellDef="let element" class="data-cell"> {{element.type}} </td>
            </ng-container>

            <!-- quizMust Column -->
            <ng-container matColumnDef="quizMust">
              <th mat-header-cell *matHeaderCellDef class="header-cell"> 必填 </th>
              <td mat-cell *matCellDef="let element" class="data-cell"> {{element.quizMust ? '是' : '否'}} </td>
            </ng-container>

            <!-- Header and Data Rows -->
            <tr mat-header-row *matHeaderRowDef="previewColumns" class="header-row"></tr>
            <tr mat-row *matRowDef="let row; columns: previewColumns;" class="data-row"></tr>
          </table>
        </div>



      </div>
      <div class="btn">
        <button mat-button (click)="backStep()">返回</button>
        <button mat-raised-button (click)="saveSurvey()">僅儲存</button>
        <button mat-flat-button (click)="publishSurvey()">儲存並發布</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
