<!-- 頂端的Toolbar -->
<mat-toolbar>
  <button matTooltip="打開導覽欄" mat-icon-button class="toolbar-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  @if(userStatus){
  <span class="title">後台管理問卷</span>
  } @else {
    <span class="title">歡迎使用問卷系統！</span>
  }
  <span class="spacer"></span>
  @if(userStatus){
  <button matTooltip="首頁" mat-icon-button routerLink="/admin-homepage" routerLinkActive="router-link-active">
    <mat-icon>home</mat-icon>
  </button>
  }@else {
  <button matTooltip="首頁" mat-icon-button routerLink="/homepage" routerLinkActive="router-link-active">
    <mat-icon>home</mat-icon>
  </button>
  }
  @if(!userStatus){
  <button mat-icon-button (click)="login()" matTooltip="登入">
    <mat-icon>login</mat-icon>
  </button>
  }
  @if(userStatus){
  <button mat-icon-button (click)="logout()" matTooltip="登出">
    <mat-icon>logout</mat-icon>
  </button>
  }
  <!-- <button matTooltip="分享" mat-icon-button>
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>


<mat-drawer-container class="drawer-container">
  <!-- 側邊選單 sidenav -->
  <mat-drawer #drawer mode="side" class="sidenav">
    <mat-toolbar class="sidenav-header">
      <span>功能導覽</span>
      @if(userStatus){
      <button matTooltip="首頁" mat-icon-button routerLink="/admin-homepage" routerLinkActive="router-link-active">
        <mat-icon>home</mat-icon>
      </button>
      }@else {
      <button matTooltip="首頁" mat-icon-button routerLink="/homepage" routerLinkActive="router-link-active">
        <mat-icon>home</mat-icon>
      </button>
      }
      <button matTooltip="縮小導覽欄" mat-icon-button class="toolbar-icon close-sidenav-icon" (click)="drawer.close()">
        <mat-icon>zoom_in_map</mat-icon>
      </button>
    </mat-toolbar>

    <mat-divider></mat-divider>

    <mat-nav-list>
      @if(userStatus){
      <a mat-list-item (click)="toAdminHomepage()">
        <mat-icon>list</mat-icon>
        <span>問卷清單</span>
      </a>
      } @else {
      <a mat-list-item (click)="toHomepage()">
        <mat-icon>list</mat-icon>
        <span>問卷清單</span>
      </a>
      }
      @if(userStatus){
      <a mat-list-item (click)="toCreateSurvey()">
        <mat-icon>add</mat-icon>
        <span>創建問卷</span>
      </a>
      }
      @if(userStatus){
      <a mat-list-item  (click)="toMemberInfo()">
        <mat-icon>person</mat-icon>
        <span>會員中心</span>
      </a>
      }
    </mat-nav-list>

    <mat-divider></mat-divider>

    <!-- 登入/登出按鈕 -->
    <div class="sidenav-footer">
      @if(!userStatus){
      <button mat-icon-button (click)="login()" matTooltip="登入">
        <mat-icon>login</mat-icon>
      </button>
      }
      @if(userStatus){
      <button mat-icon-button (click)="logout()" matTooltip="登出">
        <mat-icon>logout</mat-icon>
      </button>
      }
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
